
 chrome, safari, edge, opera 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 firefox 
input[type=number] {
    -moz-appearance: textfield;
}


/*---------- elements ----------*/
body {
    margin:0px;
    padding:0px;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div,
img,
h1,h2,h3,p{
    padding:0px;
    margin:0px;
}

a {
    text-decoration:none;
    color:dimgrey;
    font-weight:bold;
}

a:hover {
    color: lightgrey;
}


/*---------- Main Classes ----------*/
.header {
    width: 50%;
    position: relative;
    /*background-color: aquamarine;*/
    padding: 0 0 0 0;
    margin: auto;
}

.middle {
    width: 50%;
    position: relative;
    padding: 0 0 0 0;
    margin: auto;
}

.product_display {
    margin: auto;
    height: 50vh;
    overflow: auto;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
}

.product_display div{
    float:left;
}

.footer {
    position: fixed;
    background-color: #555;
    color:white;
    padding:10px 0px 0px 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
}
/*---------- Top Menu ----------*/

.topMenu{
    /*background-color:red;*/
    width:100%;
    height:2vh;
    text-align:left;
    padding:5px 0px 0px 0px;
}
.topMenu div{
    width:50%;
    float:left;
}

.topMenu div span{
    padding:0 10px 0px 10px;
}

.topMenu .myaccountMenu span {
    display:block;
    float:right;
}

/*---------- Nav Menu ----------*/
.webBanner{
}
.webBanner img {
    width: 100%;
}
.nagivatorMenu {
    /*background-color:red;*/
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.nagivatorMenu div {
    display:grid;
    width:50%;
    /*background:green;*/
    margin:auto;
}

.nagivatorMenu div span {
    grid-row: 1/4;
}

.nagivatorMenu div span:not(:first-child) {
    border-left: 1px solid #c1c1c1;
}


/*---------- Cart Icon ----------*/


.pageTitleHeader {
    height:40px;
    width: 100%;
    padding:10px;
    margin: 0px 0px 0px 0px;
}

.pageTitle {
    float:left;
    width: 50%;
    text-align: left;
}

.icon-span{
    float:right;
    padding:0px 30px 0px 0px;
}

.icon-span img{
    width:35px;
}

.icon-span span {
    display: flex;
    width: 25px;
    height: 25px;
    background: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top:91%;
    right: 10px;
}
/*---------- item category ----------*/
.itemlist {
    display: grid;
    width: 100%;
    height:200px;
    /*background-color: aquamarine;*/
}

.itemlist div {
    grid-row: 1/5;
    /*border: 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemlist:not(:last-child) {
    border-bottom: 1px solid #c1c1c1;
}

.itemlist .name{
    font-size:21px;
}

.itemlist .quantity span {
    display: inline-block;
    margin: 10px;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

    .itemlist .quantity span:nth-of-type(even) {
        top:-10px;
        margin: 0px 5px 0px 5px;
        width: 25px;
        height: 20px;
        cursor: default;
    }
    .itemlist .quantity span input{
        text-align:center;
        width:25px;
        height:20px;
    }

.itemlist .itemRemove span {
    display: inline-block;
    margin: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.itemlist .itemRemove span img {
    width:100%;
}

/*---------- item checkOut ----------*/
.cartCheckOut {
    position: relative;
    height:20vh;
    width: 100%;
    margin: auto;
    padding:10px 0px 0px 0px;
    /*background-color: red;*/
    text-align: left;
}

.cartCheckOut .cartCoupon {
    display: grid;
    grid-row: 1/2;
    padding: 10px;
    float: left;
   /* background-color: aqua;*/
}

.cartCheckOut .cartTotal {
    display: grid;
    grid-row: 1/2;
    padding: 10px;
    text-align: right;
    float: right;
    /*background-color: blue;*/
}

.cartCheckOut .cartTotal .btn {
    padding:10px 0px 0px 0px;
    float: right;
}
/*---------- cartTotal CHECK ----------*/

.cartSubtotal div {
    width: 100%;
    padding:0px 0px 10px 0px;
    /*background-color:green;*/
}

.cartSubtotal div span{
    width: 50%;
    float: left;
}
.cartSubtotal div span span {
    width: 100%;
    float: left;
}


/*---------- COUPON CHECK ----------*/
.cartCoupon span {
    width: 100%;
    float: left;
}

.couponInput{
    padding:10px 0px 0px 0px;
}

.cartCoupon .couponInput input {
    width: 125px;
    float:left;
}
