<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leave Types</title>
	<span th:replace="~{fragments/general.html :: js_css_assets}"/>
</head>
<body>
	<div class="container-fluid">
	<div class="row justify-content-center">
		
			<div th:replace="~{fragments/general.html :: menu}"></div>

			<div class="card px-4 box_min_width">
		    <h2 class="mt-3">Leave Types</h2>
			<p class="text-danger mt-3" th:if="${Message != null}" th:utext="${Message}"></p>

			<a th:href="@{/leave-type/new}" class="btn btn-primary btn-sm mt-3 mb-3 button_max_width">Create New Leave Type</a>

		    <table class="table table-striped">
		        <tr>
		            <th>ID</th>
		            <th>Type</th>
					<th>Default Value</th>
		            <th>Actions</th>
		        </tr>
		        <tr th:each="leaveType : ${leaveTypes}">
		            <td th:text="${leaveType.id}"></td>
		            <td th:text="${leaveType.type}"></td>
					<td th:text="${leaveType.default_val}"></td>

		            <td>
		                <a th:href="@{/leave-type/edit/{id}(id=${leaveType.id})}" class="btn btn-info btn-sm">Edit</a>
		                <a th:href="@{/leave-type/delete/{id}(id=${leaveType.id})}" 
						onclick="return confirm('Are you sure you want to delete this leave type?');"
						class="btn btn-danger btn-sm" >Delete</a>
		            </td>
		        </tr>
		    </table>
		    </div>
				
	</div>			
	</div>
</body>
<span th:replace="~{fragments/general.html :: bootstrapscript}"/>

</html>